#feuille {
    position: relative;
    background-color: white;
    box-shadow: 10px 10px 10px black;
    box-shadow: 10px 10px 70px black;
    height: 1096px;
    width: 793px;
    left: 25%;
    overflow: scroll;
    overflow-x: hidden;
    
}

.allbox {
    position: relative;
    background: rgb(135, 65, 4);
    background: linear-gradient(142deg, rgba(135, 65, 4, 1) 54%, rgba(230, 111, 0, 1) 100%);
    height: 200px;
    width: 300px;
    color: white;
    top: -20px;
}

.title {
    position: relative;
    color: white;
    top: 20px;
    right: 0px;
    text-align: center;
    font-size: 34px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

#name {
    position: relative;
    top: 1px;
}

#dev {
    position: relative;
    color: white;
    top: 140px;
    right: 0px;
    text-align: center;
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.whitebox {
    background-color: white;
    position: relative;
    left: 300px;
    top: -200px;
    height: 200px;
    width: 492px;
    color: white;
}

#pp {
    background-color: black;
    position: relative;
    left: 20px;
    top: 10px;
    border-radius: 100px;
    height: 170px;
    width: 170px;
    border-left: 5px solid #665C4D;
    border-top: 5px solid #665C4D;
    border-right: 5px solid #665C4D;
    border-bottom: 5px solid #665C4D;
}

#photopp {
    position: relative;
    height: 170px;
    width: 170px;
    border-radius: 100px;
}

#contact {
    position: relative;
    top: -180px;
    left: 260px;
    color: rgb(135, 65, 4);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.infoperso {
    color: rgb(135, 65, 4);
    position: relative;
    left: 300px;
    top: -190px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

#permis {
    top: -234px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

#vehicule {
    top: -277px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
#RQTH{
    position: relative;
    top: -280px;
    left: 270px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.icones {
    position: relative;
    height: 15px;
    width: 15px;
    top: -224px;
    left: 280px;
}

#calendar {
    left: 274px;
}

#idcard {
    left: 274px;
    top: -268px;
}

#car {
    top: -345px;
    left: 274px;
}

#text-motivation {
    position: relative;
    color: rgb(135, 65, 4);
    top: -326px;
    left: 230px;
    font-size: 17px;
    z-index: 2;
    text-align: center;
    border-top: 5px solid rgb(135, 65, 4);
    border-left: 5px solid rgb(135, 65, 4);
    border-right: 5px solid rgb(135, 65, 4);
    border-bottom: 5px solid rgb(135, 65, 4);
    height: 120px;
    width: 230px;
}

#Box2 {
    position: relative;
    top: -189px;
}

#imgfolio {
    position: relative;
    top: 20px;
    height: 100px;
    width: 100px;
    left: 100px;
    background-color: white;
    border-radius: 30px;
}

#Box3 {
    position: relative;
    left: -300px;
    top: -115px;
}


#whitebox2 {
    position: relative;
    background-color: white;
    top: -390px;
}

.grosseIcones {
    position: relative;
    top: 10px;
    height: 100px;
    width: 100px;
    left: 100px;
    background-color: white;
    border-radius: 30px;
}

#coquelien {
    position: relative;
    background: rgb(135, 65, 4);
    background: linear-gradient(142deg, rgba(135, 65, 4, 1) 54%, rgba(230, 111, 0, 1) 100%);
    border-radius: 30px;
    left: 100px;
    top: -140px;
    height: 150px;
    width: 300px;
}

#imgCp {
    position: relative;
    top: 10px;
    left: 20px;
    border-radius: 30px;
    height: 100px;
    width: 100px;
}
#imgGit{
    position: relative;
    left: 60px;
    top: 10px;
    border-radius: 30px;
    height: 100px;
    width: 100px;
}
#liencodepen {
    position: relative;
    color: white;
    text-decoration: none;
    left: -40px;
    top: 5px;
    font-size: 11px;
    text-align: center;
    margin-left: -60px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#liengit{
    position: relative;
    color: white;
    text-decoration: none;
    left: 70px;
    top: -19px;
    font-size: 11px;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.transitionzoom {
    position: relative;
    transition: transform .1s;
    /* Animation */
    margin: 0;
    right: -100px;
}

.transitionzoom:hover {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.1);
    transform: scale(1.13);
}
#whitebox3{
    position: relative;
    top: -321px;
    left: 10px;
    width: 400px;
    height: 200px;
    border: 2px solid rgb(135, 65, 4);
    border-radius: 60px;
}
.alldiplome{
    position: relative;
    top: 20px;
    left: 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 17px;
    color: rgb(135, 65, 4);
}
#Box4{
    position: relative;
    top: -291px;
    left: -300px;
}
#Imgvalise{
    position: relative;
    top: -5px;
}
#parcour{
    position: relative;
    font-size: 25px;
    top: 10px;
}
#whitebox4{
    position: relative;
    position: relative;
    top: -491px;
    left: 10px;
    width: 400px;
    height: 360px;
    border: 2px solid rgb(135, 65, 4);
    border-radius: 60px;

}
.parcoursPro{
    position: relative;
    left: 30px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:rgb(135, 65, 4);
}